#
archipelago/

# bin stuff in general
bin
obj

# fortran compilation artifacts
*.mod
*.o

# should add CodeBlocks stuff here

# vim stuff
*.swp
*.swo

# emacs stuff
\#*#
.\#*
*~

# various output files
*.txt
*.csv
*.wsv
*.log
*.pdf
*.png
*.ipynb
*.out

# explicit files
ciris
losalamos
ticket_master.csv
#abundance.csv
#reaction_analytics.csv
#remove_row_list.txt
fitness_results
seed
